* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.svg-container {
  text-align: center;
}

.svg-container svg {
  width: 500px;
  height: 500px;
}

#right-wheel,
#left-wheel {
  animation: wheel 1s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

#body {
  animation: bike 1s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#hat {
  animation: hat 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes bike {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(20deg);
  }
}

@keyframes hat {
  from {
    transform: translateY(0%) rotateZ(0deg);
  }

  to {
    transform: translateY(40%) rotateZ(-10deg);
  }
}
